<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="AllegroGraphCSharpClient.CatalogBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
                <behavior name="AllegroGraphCSharpClient.RepositoryBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="AllegroGraphCSharpClient.CatalogBehavior"
                name="AllegroGraphCSharpClient.Catalog">
                <endpoint address="" binding="wsHttpBinding" contract="AllegroGraphCSharpClient.ICatalog">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8731/Design_Time_Addresses/AllegroGraphCSharpClient/Catalog/" />
                    </baseAddresses>
                </host>
            </service>
            <service behaviorConfiguration="AllegroGraphCSharpClient.RepositoryBehavior"
                name="AllegroGraphCSharpClient.Repository">
                <endpoint address="" binding="wsHttpBinding" contract="AllegroGraphCSharpClient.IRepository">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8731/Design_Time_Addresses/AllegroGraphCSharpClient/Repository/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>
